/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }  

    withName: KLEBORATE {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/typing_per_sample/kleborate" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: LISSERO {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/typing_per_sample/lissero" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: ECTYPER {
        ext.args = "--verify --pathotype"
        publishDir = [
            path: { "${params.outdir}/typing_per_sample/ectyper" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: NGMASTER {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/typing_per_sample/ngmaster" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: MENINGOTYPE {
        ext.args = "--all"
        publishDir = [
            path: { "${params.outdir}/typing_per_sample/meningotype" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: SISTR {
        ext.args = "--qc"
        publishDir = [
            path: { "${params.outdir}/typing_per_sample/sistr" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: SALTY {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/typing_per_sample/salty" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: SPATYPER {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/typing_per_sample/spatyper" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: BAKTA_BAKTA {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/Bakta" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: AMRFINDERPLUS_RUN {
        ext.args = {"--plus ${meta.amrfinderopt}"}
        publishDir = [
            path: { "${params.outdir}/AMRFinderPlus" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: SUMMARIZE_REPORTS {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/typing_summaries" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: PLOT_AMRFINDER {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/visualisations" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: PLOT_BAKTA {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/visualisations" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: PLOT_ECTYPER {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/visualisations" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: PLOT_SALTY {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/visualisations" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: PLOT_KLEBORATE {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/visualisations" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: PLOT_LISSERO {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/visualisations" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: PLOT_MENINGOTYPE {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/visualisations" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: PLOT_NGMASTER {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/visualisations" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: PLOT_SISTR {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/visualisations" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: PLOT_SPATYPER {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/visualisations" },
            mode: params.publish_dir_mode,
        ]
    }

}
